body {
    margin:0;
}
.wrapper {
    max-width: 600px;
    margin:auto;
}
.header {
    background-color: palevioletred;
    padding:40px;
}
.main {
    background-color: thistle;
    padding:40px;
}
.footer{ 
    background-color: pink;
    padding: 40px;
}
